
NET "A<0>"  LOC = "P89"  ; 
NET "A<13>"  LOC = "P65"  ; 
NET "A<14>"  LOC = "P82"  ; 
NET "A<15>"  LOC = "P87"  ; 
NET "A<1>"  LOC = "P85"  ; 
NET "A<2>"  LOC = "P80"  ; 
NET "A<3>"  LOC = "P78"  ; 
NET "A<4>"  LOC = "P76"  ; 
NET "A<5>"  LOC = "P73"  ; 
NET "A<6>"  LOC = "P71"  ; 
NET "A<7>"  LOC = "P68"  ; 
NET "D<0>"  LOC = "P96"  ; 
NET "D<1>"  LOC = "P95"  ; 
NET "D<2>"  LOC = "P97"  ; 
NET "D<3>"  LOC = "P94"  ; 
NET "D<4>"  LOC = "P93"  ; 
NET "D<5>"  LOC = "P92"  ; 
NET "D<6>"  LOC = "P91"  ; 
NET "D<7>"  LOC = "P90"  ; 
NET "DIR"  LOC = "P6"  | FAST; 
NET "DSEL<0>"  LOC = "P43"  ;
NET "DSEL<1>"  LOC = "P42"  ;
NET "EA13"  LOC = "P70"  ; 
NET "EA14"  LOC = "P66"  ; 
NET "MD<0>"  LOC = "P64"  | SLOW;
NET "MD<1>"  LOC = "P63"  | SLOW;
NET "MD<2>"  LOC = "P61"  | SLOW;
NET "MD<3>"  LOC = "P60"  | SLOW;
NET "MD<4>"  LOC = "P59"  | SLOW;
NET "MD<5>"  LOC = "P58"  | SLOW;
NET "MD<6>"  LOC = "P56"  | SLOW;
NET "MD<7>"  LOC = "P55"  | SLOW;
NET "MFS<0>"  LOC = "P50" ; 
NET "MFS<1>"  LOC = "P49" ; 
NET "MFS<2>"  LOC = "P46" ; 
NET "nECE"  LOC = "P86"  | SLOW; 
NET "nEOE"  LOC = "P79"  | SLOW; 
NET "nMCRQ"  LOC = "P54" ;
NET "nMOE"  LOC = "P52" ; 
NET "nMWE"  LOC = "P53" ; 
NET "nOE"  LOC = "P7"  | SLOW; 
NET "SSEL"  LOC = "P41"  ;
NET "RnW"  LOC = "P8"  ;
NET "nIRQ"  LOC = "P9"  | SLOW;
NET "PH2"  LOC = "P14"  ;
NET "nROMDIS"  LOC = "P12"  ;
NET "nMAP"  LOC = "P16" | SLOW;
NET "IO"  LOC = "P10"  ;
NET "IOCTRL"  LOC = "P11" | SLOW ;
#NET "nRESET"  LOC = "P25"  ;
#NET "nRESET"  LOC = "P54"  ;
NET "nRESET"  LOC = "P32"  ;
NET "nHOSTRST"  LOC = "P17"  ;

NET "A<8>"  LOC = "P72"  ; 
NET "A<9>"  LOC = "P74"  ; 
NET "A<10>"  LOC = "P81"  ; 
NET "A<11>"  LOC = "P77"  ; 
NET "A<12>"  LOC = "P67"  ; 

NET "CLK"  LOC = "P34"  ;

